@media (max-width: 960px) {
  .header__nav-btn {
    display: block;
    margin-right: 5px;
  }
  .menu {
    display: none;
    padding-top: 0;
    position: absolute;
    z-index: 2;
    top: 78px;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
  }
  .menu__item {
    display: block;
    text-align: center;
    padding: 12px 0;
  }
  .menu__item + .menu__item {
    margin-left: 0;
    border-top: 1px solid #cfcfcf;
  }
  .slider__nav {
    display: none;
  }
  .works__items {
    flex-wrap: wrap;
    justify-content: center;
  }
  .work {
    margin-bottom: 15px;
    margin-right: 15px;
    width: 45%;
  }
}

@media (max-width: 850px) {
  .features__inner {
    flex-wrap: wrap;
  }
  .features__item {
    max-width: 100%;
    margin-bottom: 20px;
  }
  .features__title {
    word-spacing: 2px;
  }
  .footer__item {
    max-width: 220px;
    margin-right: 10px;
  }
}

@media (max-width: 780px) {
  .footer__item {
    max-width: 100%;
    margin-bottom: 15px;
    margin-right: 0;
  }
  .footer__title {
    margin-bottom: 10px;
  }
  .footer__socials {
    max-width: 300px;
  }
}

@media (max-width: 470px) {
  .slider__content {
    left: 5px;
  }
}

@media (max-width: 425px) {
  .slider__content {
    max-width: 320px;
    left: 0px;
    padding-right: 10px;
  }
  .slick-arrow {
    display: none;
  }
  .work {
    width: 80%;
    margin-right: 0;
  }
  .footer__socials {
    max-width: 100%;
    justify-content: space-around;
  }
}

@media (min-width: 961px) {
  .menu {
    display: block !important;
  }
}
