@font-face {
  font-family: "Bebas";
  src: url("../fonts/Bebas.woff2") format("woff2"),
    url("../fonts/Bebas.woff") format("woff"),
    url("../fonts/Bebas.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue.woff2") format("woff2"),
    url("../fonts/HelveticaNeue.woff") format("woff"),
    url("../fonts/HelveticaNeue.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "HelveticaNeue";
  src: url("../fonts/HelveticaNeue-Light.woff2") format("woff2"),
    url("../fonts/HelveticaNeue-Light.woff") format("woff"),
    url("../fonts/HelveticaNeue-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: "HelveticaNeue", sans-serif;
  font-size: 12px;
  background-color: #fcfcfc;
}

a {
  text-decoration: none;
}

.container {
  max-width: 960px;
  width: 100%;
  margin: 0 auto;
  padding: 0px 10px;
}

.sidewall:before,
.sidewall:after {
  content: "";
  width: 100%;
  flex: 1 0 0;
  background-color: #f4b39e;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;
}

.header__nav-btn {
  width: 30px;
  display: none;
}

.header__nav-row {
  width: 100%;
  background-color: #808080;
  height: 4px;
  margin-bottom: 4px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 7px 0 0;
}

.menu__item {
  display: inline-block;
}

.menu__item + .menu__item {
  margin-left: 28px;
}

.menu__link {
  color: #b9b9b9;
  font-family: "Bebas", sans-serif;
  font-size: 16px;
  transition: color 0.3s;
}

.menu__link:hover,
.menu__link--active {
  color: #e8663c;
}

.slider {
  display: flex;
}

.slider::before,
.slider::after {
  height: 60px;
}

.slider__inner {
  width: 100%;
}

.slider__item {
  min-height: 400px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.slider__content {
  background-color: rgba(232, 102, 60, 0.8);
  max-width: 413px;
  width: 100%;
  position: absolute;
  bottom: 32px;
  left: 36px;
  padding-left: 18px;
}

.slider__title {
  color: #ffffff;
  font-family: "Bebas", sans-serif;
  font-size: 18px;
  padding: 22px 0 20px;
}

.slider__text {
  color: #ffffff;
  padding-bottom: 25px;
}

.slider__nav {
  margin-bottom: 35px;
}

.slider__nav-item {
  min-width: 140px;
  max-width: 140px;
  height: 120px;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 20px;
  margin-top: 17px;
  outline: transparent;
}

.slick-arrow {
  position: absolute;
  top: 155px;
  display: inline-block;
  width: 36px;
  height: 52px;
  z-index: 1;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
}

.slick-arrow:hover {
  opacity: 0.7;
}

.slick-next {
  right: 25px;
  background-image: url("../images/next-arrow.png");
}

.slick-prev {
  left: 25px;
  background-image: url("../images/prev-arrow.png");
}

.slick-slide {
  outline: transparent;
}

.features {
  margin-bottom: 48px;
}

.features__inner {
  display: flex;
  justify-content: space-between;
  margin-right: 22px;
}

.features__item {
  max-width: 275px;
}

.features__title,
.works__title {
  font-family: "Bebas", sans-serif;
  color: #e8663c;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  margin-bottom: 30px;
  padding-left: 70px;
  position: relative;
}

.features__title--gear::before,
.features__title--check::before,
.features__title--human::before {
  content: "";
  background-image: url(../images/icons/gear.svg);
  position: absolute;
  width: 48px;
  height: 48px;
  top: 2px;
  left: 0;
}

.features__title--check::before {
  background-image: url(../images/icons/check.svg);
  width: 49px;
  height: 42px;
}

.features__title--human::before {
  background-image: url(../images/icons/human.svg);
  width: 42px;
  height: 40px;
}

.features__text {
  line-height: 18px;
  color: #414141;
  margin-bottom: 25px;
}

.features__link {
  background-color: #e8663c;
  padding: 8px 13px;
  font-family: "Bebas", sans-serif;
  color: #ffffff;
  font-size: 12px;
  text-transform: uppercase;
  cursor: pointer;
  transition: box-shadow 0.2s;
}

.features__link:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.features__link:active {
  box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.15);
}

.works {
  margin-bottom: 48px;
}

.works__title {
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  white-space: nowrap;
  margin-bottom: 22px;
  padding-left: 0px;
  position: static;
}

.works__title--line::before {
  content: "";
  background-image: url(../images/works/line.jpg);
  margin-left: 22px;
  width: 100%;
  max-width: 807px;
}

.works__items,
.work {
  display: flex;
  justify-content: space-between;
}

.work {
  justify-content: flex-start;
  flex-direction: column;
}

.work__link {
  transition: box-shadow 0.2s;
}

.work__link:hover {
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.3);
}

.work__image {
  max-height: 184px;
  width: 100%;
}

.work__textholder {
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-top: none;
  padding-bottom: 10px;
}

.work__headline {
  padding: 11px 0px 0px 12px;
  font-family: "Bebas", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #b9b9b9;
}

.work__date {
  font-family: "Bebas", sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #e8663c;
  padding-left: 12px;
}

.footer {
  display: flex;
}

.footer__inner {
  background-color: #e8663c;
  padding: 36px 35px 32px;
}

.footer__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer__item {
  max-width: 260px;
  width: 100%;
}

.footer__item--twitter {
  max-width: 220px;
  width: 100%;
}

.footer__title {
  font-family: "Bebas", sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 26px;
}

.footer__text {
  color: #ffffff;
}

.footer__first-paragraph {
  margin-bottom: 20px;
}

.twitter__message {
  margin-top: 0px;
  margin-bottom: 0px;
}

.twitter__author,
.twitter__date {
  font-weight: 300;
  color: #f3b29d;
  transition: color 0.2s;
}

.twitter__date {
  margin-top: 3px;
  margin-bottom: 23px;
}

.footer__link {
  display: block;
  color: #ffffff;
  font-style: normal;
  margin-top: 0px;
  margin-bottom: 23px;
  transition: color 0.2s;
}

.twitter__author:hover,
.footer__link:hover {
  text-decoration: underline;
  color: #000000;
}

.footer__link--mail {
  margin-top: 15px;
  margin-bottom: 0;
}

.footer__socials {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  max-width: 172px;
  margin: 0;
  padding: 0;
}
